
<div class="resulttable">

    <table>
 
        <tbody>
        <tr>
        <form action=yatzy method="POST">
        <div class = "prestable"><p>Välj nedan var och vilka tärningar du vill spara. Efter dina 3 kast måste du dock välja.
            Kryssa i rutan där du vill spara ditt resultat och tryck sedan på knappen spara resultat för att spara.  </p> </div>
        <td> Namn </td>
        <td>ID  </td>

        <td>1:or <input type="radio" class="checkmark" name= "1"  value = 1></i> </td>
        <td>2:or <input type="radio" class="checkmark" name= "1"  value = 2></i> </td>
        <td>3:or <input type="radio" class="checkmark" name= "1"  value = 3></i></td>
        <td>4:or <input type="radio" class="checkmark" name= "1"  value = 4></i></td>
        <td>5:or <input type="radio" class="checkmark" name= "1"  value = 5></i></td>
        <td>6:or <input type="radio" class="checkmark" name= "1"  value = 6></i></td>
        <td>Summa </i> </td>
        <td>Bonus </i> </td>

        <td>Par <input type="radio" class="checkmark" name=  "1"  value = 8></i></td>
        <td>Två-par <input type="radio" class="checkmark" name=  "1"  value = 9></i></td>
        <td>Tretal <input type="radio" class="checkmark" name=  "1"  value = 10></i></td>
        <td>Fyrtal <input type="radio" class="checkmark" name=  "1"  value = 11></i></td>
        <td>Straight <input type="radio" class="checkmark" name=  "1"  value = 12></i></td>
        <td>Stor-Straight <input type="radio" class="checkmark" name=  "1"  value = 13></i></td>
        <td>Kåk <input type="radio" class="checkmark" name=  "1"  value = 14></i></td>
        <td>Chans <input type="radio" class="checkmark" name=  "1"  value = 15></i></td>
        <td>Yatzy <input type="radio" class="checkmark" name=  "1"  value = 16></i></td>
        <td>Summa </td>

        <input type="submit" name="save" value = "SPARA RESULTAT">
    </form> 
    </tr>

    {% for all in yatzy %}
    <tr>

        <td>{{ all.name }} </td>
        <td>{{ all.id }} </td>

        <td>{{ all.ettor }}</td>
        <td>{{ all.tvaor }}</td>
        <td>{{ all.treor }}</td>
        <td>{{ all.fyror }} </td>
        <td>{{ all.femmor }}</td>
        <td>{{ all.sexor }}</td>
        <td>{{ all.summa }} </td>
        <td>{{ all.bonus }}</td>
        <td>{{ all.par }}</td>
        <td>{{ all.parpar }} </td>
        <td>{{ all.tretal }}</td>
        <td>{{ all.fyrtal }}</td>
        <td>{{ all.straight }} </td>
        <td>{{ all.sstraight }}</td> 
        <td>{{ all.kak }}</td>
        <td>{{ all.chans }}</td>
        <td>{{ all.yatzy }}</td>
        <td>{{ all.totalt }}</td>
    </tr>
    {% endfor %}

    
</table>

</div>
